/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 10 version
*/

.flower {
  background: url(../assets/bc18.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
}
.hang {
  font-family: "Hachi Maru Pop", cursive;
  color: white;
  padding: 20px;
  line-height: 1.5;
  margin: 0px;
  text-shadow: 2px 2px 5px black !important;
}

.button {
  position: absolute;
  top: 50%;
  left: 80%;
}

.font {
  font-family: "Courgette", cursive;
}

#sound {
  left: 70%;
}

.shadoww {
  text-shadow: 1px 1px 4px black;
}

.wight {
  font-weight: 600;
}

.lding {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  text-shadow: 2px 2px 5px black;
  color: black;
  background-color: black;
  top: 0px;
  left: 0px;
  z-index: 100;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.walamm {
  margin-top: 25px;
  letter-spacing: 30px;
  color: rgb(43, 43, 247);
  font-weight: 700;
  text-shadow: 1px 1px 3px rgb(0, 18, 46);
}

.yalla {
  text-shadow: 2px 2px 5px rgb(74, 241, 74);
  color: rgb(0, 255, 0);
}

.hangman {
  margin: 0px !important;
  width: 100%;
  height: 100%;
  padding: 0px !important;
}

.glass {
  width: 100vw;
  height: 100vh;
  background: -o-radial-gradient(
    0% 0%,
    100% 100%,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(5px);
  -webkit-box-shadow: 0px 0px 12px rgb(82, 79, 79);
  overflow: hidden;
}

.glass_item {
  background: -o-radial-gradient(
    0% 0%,
    100% 100%,
    rgba(255, 255, 255, 0.45) 1%,
    rgba(255, 255, 255, 0.15) 100%
  );
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(255, 255, 255, 0.45) 1%,
    rgba(255, 255, 255, 0.15) 100%
  );
  -webkit-box-shadow: 0px 0px 12px rgb(82, 79, 79);
}

.button_h {
  border-radius: 7px;
  font-size: 25px;
  font-weight: 600;
  vertical-align: middle;
  padding: 2px;
  margin: 10px;
  -webkit-box-shadow: 2px 2px 5px rgb(77, 77, 77);
  box-shadow: 2px 2px 5px rgb(77, 77, 77);
  width: 40px;
  height: 40px;
  line-height: 1.35;
  -webkit-transition: 0.2s !important;
  -o-transition: 0.2s !important;
  transition: 0.2s !important;
}

.work {
  color: rgb(44, 43, 43);
  background-color: white;
}

.work:hover {
  background-color: rgb(201, 0, 0);
}

.red {
  background-color: rgb(201, 0, 0) !important;
}

.green {
  background-color: rgb(23, 199, 23) !important;
}

.btn.disabled,
.btn:disabled {
  opacity: 1;
}

.guess {
  padding: 5px;
  margin-top: 10px;
  color: white;
}

.flexx {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.flexx > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 25px;

  background: -o-radial-gradient(
    0% 0%,
    100% 100%,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  background: -o-radial-gradient(
    0% 0%,
    100% 100%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  background: radial-gradient(
    100% 100% at 0% 0%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  /* -webkit-backdrop-filter: blur(4px); */
  /* backdrop-filter: blur(5px); */
  -webkit-box-shadow: 0px 0px 12px rgb(34, 34, 34);
  border-radius: 10px;
}

.flexx > div > * {
  margin: 10px;
}

.h {
  color: white;
}

.bc_bl {
  background-color: rgb(0, 131, 238);
  color: white;
  /* box-shadow: 0px 0px 10px black; */
}

.hint {
  color: white;
}

.photo {
  width: 40%;
  height: 40%;
}

.gr_cl {
  color: rgb(23, 199, 23);
  padding-bottom: 20px;
}

.rd_cl {
  color: rgb(255, 0, 0);
  text-shadow: 1px 1px 5px rgb(32, 30, 30);
  padding-bottom: 20px;
}

.sk-cube-grid {
  width: 100px;
  height: 100px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: rgb(177, 0, 0);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.mm {
  margin-left: 10px;
  margin-right: 10px;
}
