/* .hangman {
  width: 100%;
  margin-top: 50px;
}

/* .img-container {
  margin-top: 100px;
} */

.hang {
  font-family: "Hachi Maru Pop", cursive;
  color: #d6ed17ff;
  margin-bottom: 50px;
}

.button {
  position: absolute;
  top: 50%;
  left: 80%;
}

.guess {
  font-family: "Hachi Maru Pop", cursive;

  color: #d6ed17ff;
}
